/default.build.user
/signinfo.txt
/.vs
/bin
/obj
/src/CryptSync.vcxproj.user
/src/version.h
/version.build
/lzma/lzma.vcxproj.user
/lzma/7Zip.vcxproj.user
/src/*.aps
/test_crypt
/test_orig
/src/Setup/VersionNumberInclude.wxi
/_ReSharper.Caches
/Tests/Tests.vcxproj.user
/Tests/x64
/packages
/x64
/Release
/Tests/Release
*.tlog
*.obj
*.pdb
/Tests/Debug
/Debug/Tests.ilk
/Debug/Tests.exe
/buildlog.txt
*.aps
/Tests/ARM64
